.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
}

.section-title{

}

.section-description{
    font-size: 18px;
    color: #757575;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size:45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
    
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    /* font-weight: bold; */
}

.banner-profile-picture {
    width:580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
}

/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Note: Module 8-5 */
/* Responsive Media Query */
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container{
        flex-direction: column;
    }
}